<nav>
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/information/">Information</a>
    <div class="dropdown desktop">
        <a class="dropdown-btn" href="/learn/">Archived Lessons</a>
        <div class="dropdown-content">
            <a class="dropdown-link" href="/cpt/">CPT</a>
            <a class="dropdown-link" href="/ics/">ICS</a>
        </div>
    </div>
    <a class="mobile btn" href="/cpt/">Archived CPT Lessons</a>
    <a class="mobile btn" href="/ics/">Archived ICS Lessons</a>
    <a class="btn" href="/contact/">Contact</a>
    <a class="btn" href="https://judge.mcpt.ca">WLMOJ Judge</a>
</nav>
