<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}
		{% include mathjax.html %}
	</head>
	<body>
		<section class="page-header">
			<h1 class="page-name">{{ page.title | default: site.title}} Editorial </h1>
			<h2 class="page-tagline">{{ page.problem-id | default: site.description}} editorial by {{ page.author }}</h2>
			{% include nav.html %}
		</section>

		<section class="main-content">
			{{ content }}

			<footer class="site-footer">
				<img src="/assets/logo.svg" alt="">
			</footer>
		</section>
	</body>
</html>
