<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}
		{% include mathjax.html %}
	<body>
		<section class="page-header">
			<h1 class="page-name">{{ page.title | default: site.title}}</h1>
			<h2 class="page-tagline">{{ page.description | default: site.description}}</h2>
			{% if page.author != nil %}
				<h2 class="page-tagline">Lesson created by {{ page.author}}</h2>
			{% endif %}
			{% include nav.html %}
		</section>

		<section class="main-content">
			{{ content }}

			<footer class="site-footer">
				<img src="/assets/logo.svg">
			</footer>
		</section>
	</body>
</html>
