<!DOCTYPE html>
<html lang="en">

<head>
    {%- include head.html -%}
    {% asset default.css %}
    {% asset nav.css %}
    {% asset footer.css %}
    {% asset post.css %}
    <title>{{ page.title }}</title>
    {% if page.redirect_url %} 
        <meta http-equiv="refresh" content="0;url={{ page.redirect_url }}" />
    {% endif %}
</head>

<body>
	{%- include header.html -%}
    <main>
        <div class="wrapper">
        	<h1 id="title">{{ page.title }}</h1>
        	<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        	{{ content }}
        </div>
    </main>
    {%- include footer.html -%}
</body>
{%- include scripts.html -%}
</html>